<app-stepform>
  <app-step [active]="true"
    ><div class="form-element">
      <label for="name">Name : </label>
      <input type="text" />
    </div>
  </app-step>
  <app-step
    ><div>
      <label for="name">Email : </label>
      <input type="text" /></div
  ></app-step>
  <app-step
    ><div>
      <label for="name">Passoword : </label>
      <input type="text" /></div
  ></app-step>
  <app-step>
    <div>
      <label for="name">Confirm Passoword : </label>
      <input type="text" />
    </div>
  </app-step>
</app-stepform>
